<div class="hero">
	<br />
<!--10-->
	<div class="frosty col-xs-10 col-xs-offset-1 text-center">
		<h1>Austin sustainable American Apparel</h1>
		<br />
		<h2>Qui laboris selvage slow-carb Etsy, quinoa keytar.</h2>
		<br />
		<p>PBR +1 velit, hoodie brunch food truck Etsy try-hard gluten-free before they sold out. 3 wolf moon flannel normcore put a bird on it nostrud.</p>
		<br />
		<%= link_to 'Learn More', courses_path, :class => 'btn btn-success' %>
		<br /><br />
	</div>
</div>
<br />
<div class="col-xs-10 col-xs-offset-1 features text-center">
  <div class="col-sm-4">
    <h3>Feature 1</h3>
  </div>

  <div class="col-sm-4">
    <h3>Feature 2</h3>
  </div>

  <div class="col-sm-4">
    <h3>Feature 3</h3>
  </div>
</div>