.navbar {
	border-radius:0;
	box-shadow: 0px 1px 3px rgba(41, 41, 41, 0.75);
}

.navbar-default a.navbar-brand {
	font-family: 'Lobster Two', cursive;
	font-weight: 100;
	color: #F45800;
	font-size: 2.3em;
	padding-left: 50px;
}

.navbar-default a.navbar-brand span {
	color: #5E5E5E;
}

.hero {
	background: url('hero.jpg');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height: 370px;
	box-shadow: 0px 3px 8px rgba(41, 41, 41, 0.75);
}

h1, h2, h3, h4, h5, h6, .navbar {
	margin:0;
}

.frosty {
	background: rgba(0, 0, 0, 0.5);
	color: white;
}

.frosty h1 {
	font-family: "Helvetica Neue", Helvetica;
	font-weight: 100;
	text-shadow: rgba(0,0,0,0.95) 1px 1px;
}

.frosty h2 {
	font-family: "Helvetica Neue", Helvetica;
	font-weight: 200;
	text-shadow: rgba(0,0,0,0.95) 1px 1px;
}

.btn {
	border-radius:0;
}

.btn-sign-in {
	padding: 8px;
	line-height: 16px;
	font-size: 14px;
	border: 1px solid;
	text-decoration: none;
	border-radius: 3px;
	border-color: #0192B5;
}

.btn-sign-in:focus,
.btn-sign-in:active,
.btn-sign-in.active {
	background-color: #ffffff;
}

.btn-sign-in:hover {
	background-color: #ebebeb;
}

body {
	background: url('bg.png');
	font-family: Frutiger, "Frutiger Linotype", Univers, Calibri, "Gill Sans", "Gill Sans MT", "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.booyah-box {
	-moz-box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, 0.5);
	box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, 0.5);
	background: #fff;
	border: 1px solid #ccc;
	border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
	margin-top: 10px;
	margin-bottom: 15px;
	padding: 20px;
}

.booyah-box h2, .booyah-box h1 {
	margin:10px;
	text-align: center;
}

.clr {
  clear:both;
}

.field_with_errors {
	color: #ff3333;
	background-color: #ffeeee;
	border-radious: 3px;
	padding: 8px;
	margin: 10px;
}